<div class="about-container container mt-5">
    <div class="row align-items-center">
      <div class="col-md-4">
        <img src="/assets/about.jpg" alt="Your Name" class="img-fluid rounded-circle">
      </div>
      <div class="col-md-8">
        <h2>About Me</h2>
        <p>I’m Ramani Manasa Devarabhatla, a Master’s student in Computer Science at Binghamton University 
            with a focus on data science and software engineering. With a strong academic background 
            and hands-on experience in developing web applications, machine learning models, and database 
            management, I am passionate about leveraging technology to solve real-world problems. My projects 
            range from building AI systems for visual impairment to creating predictive models for flight fares.
             I’m eager to apply my skills and knowledge to innovative challenges in the tech industry.</p>
      </div>
    </div>
  </div>
  